@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .feather-lg {
        @apply size-8 stroke-current stroke-2 fill-none transition-transform;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .feather-md {
        @apply size-6 stroke-current stroke-2 fill-none transition-transform;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .feather-sm {
        @apply size-4 stroke-current stroke-2 fill-none transition-transform;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}

@media (hover: hover) {
    @supports (color: oklch(0% 0 0)) {
        :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(.active, .btn):hover, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.active, .btn):hover {
            background-color: var(--fallback-a,oklch(var(--a)/0.2));
        }
    }
}

details[open] summary svg {
    transform: rotate(180deg);
}

@media (hover: hover) {
    @supports (color: oklch(0% 0 0)) {
        .btn-ghost.btn-primary:hover {
            background-color: var(--fallback-p,oklch(var(--p)/0.3));
        }
    }
}

@supports (color: oklch(0% 0 0)) {
    .btn-ghost.btn-primary {
        color: var(--fallback-p,oklch(var(--p)));
    }
}

@media (hover: hover) {
    @supports (color: oklch(0% 0 0)) {
        .btn-ghost.btn-secondary:hover {
            background-color: var(--fallback-s,oklch(var(--s)/0.3));
        }
    }
}

@supports (color: oklch(0% 0 0)) {
    .btn-ghost.btn-secondary {
        color: var(--fallback-s,oklch(var(--s)));
    }
}

@media (hover: hover) {
    @supports (color: oklch(0% 0 0)) {
        .btn-ghost.btn-error:hover {
            background-color: var(--fallback-s,oklch(var(--er)/0.3));
        }
    }
}

@supports (color: oklch(0% 0 0)) {
    .btn-ghost.btn-error {
        color: var(--fallback-s,oklch(var(--er)));
    }
}

details ul {
    opacity: 0;
}

details[open] ul {
    opacity: 1;
}

.scroll-shadow {
    mask-image: linear-gradient(#000,#000,transparent 0,#000 40px,#000 calc(100% - 40px),transparent);
}

.scroll-shadow.bottom {
    mask-image: linear-gradient(0deg,#000 calc(100% - 40px),transparent);
}

.scroll-shadow.top {
    mask-image: linear-gradient(180deg,#000 calc(100% - 40px),transparent);
}

.collapse {
    transition: flex-grow 0.25s ease;
    grid-template-rows: 3.75rem 0fr;
    flex-grow: 0;
}

.collapse:not(.collapse-close):has(> input[type="checkbox"]:checked), .collapse:not(.collapse-close):has(> input[type="radio"]:checked) {
    grid-template-rows: 3.75rem 1fr;
    flex-grow: 1;
}